* {
  box-sizing: border-box;
  font-family:"Times New Roman";
}
button{
	cursor:pointer;
	font-style:italic;
	font-family:"times new roman";
}
p{
cursor:default;
}	
body{
	margin:0px 0.5px;
	background-color:#D9E3DC;
	display:flex;
	flex-direction:column;
	gap:150px;
    min-height:100vh;
}
.brand{
	display:flex;
	flex-direction:row;
	justify-content:center;
	
}
.logo{
	padding:15px;
	//border:2px solid black;
	
}
.logo img{
	width:50px;
	height:50px;
	border-radius: 6px;
	background-color:transparent;
	
}
.login-page-header{
	display:flex;
	flex-direction:row;
	align-items:center;
	gap:20px;
	position:sticky;
	border: 2px solid #C7D6CF;
	top:0.5px;
	background-color: #E8EFEA;
	box-shadow: 8px 8px 10px rgba(0,0,0,0.15);
	
}
.name{
	/* border:2px solid #000000; */
	display:flex;
	flex-direction:column;
	gap:0;
	margin:0;
	
	
	
}
.heading{
	color:brown;
	margin:0px;
	/* border:2px solid black; */
}
.heading h1{
	margin:0px;
	
}
.caption{
	color:grey;
	font-style:italic;
	font-size:12px;
	margin:0px;
	/* border:2px solid black; */
	display:flex;
	justify-content:right;
}
.caption p{
	margin:0px;
}
.main-content{
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}
.login-area{
	box-shadow: 8px 8px 10px rgba(0,0,0,0.15);
	display:flex;
	flex-direction:column;
	gap:12px;
	justify-content:center;	
	padding:20px;
	border:2px solid #C7D6CF;
	background-color:#E8EFEA ;
	
	
}
.signin-form{
	display:flex;
	flex-direction:column;
	gap:12px;
}
.signin-heading{
	font-size:24px;
	color:brown;
	text-align:center;
	cursor:default;
}
.signin-heading p{
	margin:2px;
	color:grey;
	font-size:12px;
	font-style:italic;
}
.signin-heading h4{
	margin-bottom:0px;
}
#sign-up-container {
  display: none;
}
.up-container{
	display:flex;
	flex-direction:column;
	justify-content:center;
}
.pass{
	margin-top:12px;
}
.login-area .signin-username,.login-area .signin-password{
	border-radius:3px;
	background-color:#F0F3F5;
	width:100%;
}
#error-msg{
	margin:0px;
	padding-top:2px;
}
.login-area .get-started{
	margin-top:12px;
	margin-left:auto;
	margin-right:auto;
	background-color:black;
	cursor:pointer;
	color:white;
	border-radius:3px;
}
.login-area .text-info{
	font-size:14px;
	color:grey;
	font-style:italic;
	cursor:default;
	margin:0px;
}
.text-info>p{
	margin:0px;
}
.login-area .sign-in-icons{
	display:flex;
	flex-direction:row;
	gap:60px;
}
.sign-in-buttons{
	width:50px;
	height:35px;
}
.sign-in-buttons button{
	width:100%;
	height:100%;
}.sign-up-in-signin-window{ 
	display:flex;
	flex-direction:row;
	justify-content:flex-end;
  }
.sign-up{
	display:flex;
	flex-direction:row;
	gap:2px;
	
}
.sign-up>p{
	margin:0px;
}
